@font-face {
    font-family: naver;
    src: url("../../font/Naver-booking-Icons.woff") format("truetype");
}

body{
    background-color: #d4dadf;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
    min-width: 320px;
    max-width: 414px;
    min-height: 100%;
    min-height: 100vh;
    word-wrap: break-word;
    word-break: break-word;
}

ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}


.container{
    background-color: #e9ecef;
    width: 100%;
    max-width: 414px;
    text-align: center;
}
.header{
    background-color: #2DC700;
    height: 150px;
}

.logo{
    padding-top: 20px;
}

.head_img{
    float: left;
    margin-left: 10px;
    width: 100px;
}

.myInfo{
    float: right;
    margin-right: 13px;
    font-size: 18px;
    font-weight: lighter;
    color: white;
    font-family: naver;
    text-decoration: none;
}

#tab_info{
    margin-top: 30px;
}

.tab_item{
    float: left;
    font-family: naver;
    color: white;
    width: 100px;
    text-align: center;
}

.tab_title{
    font-size: 15px;
}

.tab_num {
    font-size: 23px;
}


.gototop{
    margin-top: 15px;
}

.lnk_top{
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.footer_copy{
    font-family: NanumGothicRegular;
    color: grey;
    font-size: 13px;
    line-height: 130%;
}

.copyright{
    font-size: 12px;
}